<header>
    <div>
        <h1>My books</h1>
    </div>
    <div class="palabras">
        <a *ngIf="!this.userService.logueado" routerLinkActive="active-link" routerLink="home">Home</a>
        <a *ngIf="!this.userService.logueado" routerLinkActive="active-link" routerLink="register">Register</a>
        <a *ngIf="this.userService.logueado" routerLinkActive="active-link" routerLink="profile">Profile</a>
        <a *ngIf="this.userService.logueado" routerLinkActive="active-link" routerLink="books">Books</a>
        <a *ngIf="this.userService.logueado" routerLinkActive="active-link" routerLink="addBook">AddBook</a>
        <a *ngIf="this.userService.logueado" routerLinkActive="active-link" routerLink="updatebook">UpdateBook</a>
        <a *ngIf="!this.userService.logueado" routerLinkActive="active-link" routerLink="login">Login</a>
    </div>
</header>