<div class="caja">

    <div class="cajasFormulario">

        <form class="form">
            <div class="imagen">
             
                <img class="imagen2" src="{{user.photo}}" alt="">
            </div>
            <h1> </h1>
            <div class="formulario">
                <div class="caja1">
                    <div class="datos">
                        <label for="">Nombre:</label>
                    </div>
                    <div class="datos">
                        <label for="">Apellidos:</label>
                    </div>
                    <div class="datos">
                        <label for="">Correo:</label>
                    </div>
                </div>
                <div class="caja2">
                    <div class="input1">
                        <p>{{user.name}}</p>
                    </div>
                    <div class="input1">
                        <p>{{user.last_name}}</p>
                    </div>
                    <div class="input1">
                        <p>{{user.email}}</p>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="cajasFormulario2">
        <div class="card">
            <div class="card-header">
                <div class="text-header">Editar Datos</div>
            </div>
            <div class="card-body">
                <form action="#">
                    <div class="form-group">
                        <label for="username">Nombre:</label>
                        <input required="" class="form-control" name="username" id="username" type="text" #input1>
                    </div>
                    <div class="form-group">
                        <label for="user_LastName">Apellidos:</label>
                        <input required="" class="user_LastName" name="user_LastName" id="user_LastName" type="text"
                            #input2>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo Electronico:</label>
                        <input required="" class="email" name="email" id="email" type="email" #input3>
                    </div>
                    <div class="form-group">
                        <label for="URL">URL:</label>
                        <input required="" class="URL" name="URL" id="URL" type="text" #input4>
                    </div>
                    <button on-click ="modificar(input1.value, input2.value, input3.value, input4.value)" type="button"
                        class="btn">Modificar</button> 
                </form>
            </div>
        </div>

    </div>
</div>