.caja {
    /* border: 2px solid black; */
    background-image: url("https://img.freepik.com/foto-gratis/vista-frontal-escritorio-libros-apilados-espacio-copiar_23-2148827255.jpg?size=626&ext=jpg&ga=GA1.2.939502610.1676634689&semt=sph");
    background-repeat: no-repeat;
    background-size: cover;
height: 100vh;
}

.cards {
    /* border: 2px solid rgb(255, 0, 0); */
    width: 100%;
    display: flex;
    justify-content: space-around;
 
}

.buscador {
  display: flex;
  justify-content: center;
  padding: 1%;
  width: 20%;
  align-items: center;

}

#search-box {
  position: relative;
  width: 100%;
  margin: 0;
}

#search-form {
  height: 32px;
  border: 1px solid #c5c0c0;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#search-text {
  font-size: 14px;
  color: #ddd;
  border-width: 0;
  background: transparent;
}

#search-box input[type="text"] {
  width: 90%;
  padding: 8px 0 12px 1em;
  color: #333;
  outline: none;
}

#search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 34px;
  width: 80px;
  font-size: 14px;
  color: #555;
  text-align: center;
  line-height: 4px;
  border-width: 0;
  background-color: #d9ebe9;
  cursor: pointer;
}