.caja {
    /* border: 2px solid black; */
    background-image: url("https://img.freepik.com/foto-gratis/vista-frontal-escritorio-libros-apilados-espacio-copiar_23-2148827255.jpg?size=626&ext=jpg&ga=GA1.2.939502610.1676634689&semt=sph");
    background-repeat: no-repeat;
    background-size: cover;

}

.cards {
    /* border: 2px solid rgb(255, 0, 0); */
    width: 100%;
    display: flex;
    justify-content: space-around;
  
}


.form {
    border: 3px solid rgb(71, 71, 71);
    background-color: white;
    height: 89%;
    width: 35%;
    padding: 3.125em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-self: center;
}

.añadir {
    /* border: 3px solid rgb(0, 0, 0); */
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup {
    color: rgb(77, 75, 75);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0.5em;
}

.form--input {
    width: 60%;
    margin-bottom: 1.25em;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.8em;
    font-family: 'Inter', sans-serif;
    outline: none;
}

.form--input:focus {
    border: 1px solid #639;
    outline: none;
}

.form--marketing {
    display: flex;
    margin-bottom: 1.25em;
    align-items: center;
}

.form--marketing>input {
    margin-right: 0.625em;
}

.form--marketing>label {
    color: grey;
}

.form--submit {
    width: 40%;
    padding: 0.625em;
    border-radius: 5px;
    color: white;
    background-color: rgb(56, 136, 81);
    border: 1px dashed #639;
    cursor: pointer;
}

.form--submit:hover {
    color: #639;
    background-color: white;
    border: 1px dashed #639;
    cursor: pointer;
    transition: 0.5s;
}