<div class="caja">
    <div class="buscador">
        <div id='search-box'>
            <form action='/search' id='search-form' method='get' target='_top'>
            <input #buscador id='search-text' name='q' placeholder='Añade el id_book ' type='text'/>
            <button id='search-button' type='button' (click)="findBook(buscador.value)"><span>Busca!</span></button>
            </form>
            </div>
    </div>
    <div class="cards">

        <div class="ngif" *ngIf="books.length === 0; else esFalso">
            No hay libros
        </div>
        <ng-template #esFalso>

            <ng-container *ngFor="let libro of books; let par = even">

                <app-card (eventBoton)="eliminarLibro($event)" [cardBook]="libro" [par]="par"></app-card>

            </ng-container>

        </ng-template>
    </div>
</div>