.añadir {
    /* border: 3px solid rgb(0, 0, 0); */
    background-image: url("https://img.freepik.com/foto-gratis/manzana-habitacion-sucia-pintura-patron_1203-5709.jpg?size=626&ext=jpg&ga=GA1.1.939502610.1676634689&semt=sph");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
}