
.portada{
background-image: url("https://img.freepik.com/foto-gratis/libros-estante_53876-138567.jpg?size=626&ext=jpg&ga=GA1.1.939502610.1676634689&semt=sph");
height: 80vh;
background-repeat: no-repeat;
background-size: cover;
}
h1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 47px;
}
h3{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 35px;
    align-self: end;
    margin: 250px;
}