<div class="caja">
    <form [formGroup]="myForm" class="form">
        <span class="signup">Registrate</span>

        <div class="form-group">
            <input type="text" style="width: 350px;" formControlName="nombre" class="form-control" placeholder="Nombre"
                [ngClass]="{'is-invalid': (myForm.get('nombre').dirty || myForm.get('nombre').touched) && !myForm.get('nombre').valid}">
            <div *ngIf="!myForm.get('nombre').valid" class="invalid-feedback">
                El nombre es necesario
            </div>
        </div>

        <div class="form-group">
            <input type="text" style="width: 350px;" formControlName="email" class="form-control input"
                placeholder="ejem:email@gmail.com"
                [ngClass]="{'is-invalid': (myForm.get('email').dirty || myForm.get('email').touched) && !myForm.get('email').valid}">
            <div *ngIf="!myForm.get('email').valid" class="invalid-feedback">
                <div *ngIf="myForm.get('email').errors.required">La direccion de email es obligatoria</div>
                <div *ngIf="myForm.get('email').errors.email">Direccion email incorrecta</div>
            </div>
        </div>

        <div class="form-group">
            <input type="password" style="width: 350px;" formControlName="password" class="form-control"
                placeholder="Contraseña"
                [ngClass]="{'is-invalid': (myForm.get('password').dirty || myForm.get('password').touched) && !myForm.get('password').valid}">
            <div *ngIf="!myForm.get('password').valid" class="invalid-feedback">
                <div *ngIf="myForm.get('password').errors.required">La clave es obligatoria</div>
                <div *ngIf="myForm.get('password').errors.minlength">La clave debe tener al menos 8 caracteres</div>
            </div>
        </div>

        <div class="form-group">
            <input type="password" style="width: 350px;" formControlName="confirmarContrasena" class="form-control"
                placeholder="Repetir contraseña"
                [ngClass]="{'is-invalid': (myForm.get('confirmarContrasena').dirty || myForm.get('confirmarContrasena').touched) && !myForm.get('confirmarContrasena').valid}">
            <div *ngIf="!myForm.get('confirmarContrasena').valid" class="invalid-feedback">
                <div *ngIf="myForm.get('confirmarContrasena').errors.required">La clave es obligatoria</div>
                <div *ngIf="!myForm.get('confirmarContrasena').errors.required &&  
                    myForm.get('confirmarContrasena').errors.matchPassword">Las claves no coinciden</div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-block" (click)="register()" [disabled]="myForm.invalid">
                Guardar
            </button>
        </div>
    </form>
</div>